<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="fcl4transmart">
         <property
               name="appName"
               value="fcl4transmart">
         </property>
         <property
               name="applicationXMI"
               value="fr.sanofi.fcl4transmart/Application.e4xmi">
         </property>
      </product>
   </extension>

</plugin>
